
<div class="flex justify-content-center align-items-center min-h-screen">
  <div class="w-full" style="max-width: 500px;">
    <p-card class="p-4 shadow-2 border-round-lg">
      <ng-template pTemplate="header">
        <div class="text-center w-full font-bold text-xl mt-3 mb-2">
          {{titleLabel}}
        </div>
      </ng-template>
      <form class="p-fluid" #loginForm="ngForm" (ngSubmit)="onLoginClick(loginForm)">
        <div class="flex flex-column gap-2 mb-4">
          <label for="code">{{userLabel}}</label>
          <input
            pInputText
            id="code"
            name="code"
            [(ngModel)]="user"
            (ngModelChange)="onUserChange($event)"
            aria-describedby="code-help"
            required
            #code="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty': code.invalid && (code.dirty || code.touched) }"
          />
          <small id="code-help" class="text-danger" *ngIf="code.invalid && (code.dirty || code.touched)">
            {{userAlertMessage}}
          </small>
        </div>

        <div class="field w-full">
          <label for="password">Contraseña</label>
          <p-password
            id="password"
            name="password"
            required
            (keydown.enter)="onLoginClick(loginForm)"
            [(ngModel)]="password"
            (ngModelChange)="onPasswordChange($event)"
            inputStyleClass="w-full"
            [style]="{ 'display': 'block' }"
            [toggleMask]="true"
            feedback="false"
            aria-describedby="password-help"
            #passwordModel="ngModel"
          ></p-password>

          <small
            *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)"
            class="p-error"
            id="password-help"
          >
            La contraseña es obligatoria.
          </small>
        </div>

        <div class="text-center">
          <button pButton type="submit" label="Ingresar" class="w-full"></button>
        </div>
      </form>

      <!--      <form class="p-fluid">-->
<!--        <div class="flex flex-column gap-2 mb-4">-->
<!--          <label for="code">{{userLabel}}</label>-->
<!--          <input-->
<!--            pInputText-->
<!--            id="code"-->
<!--            name="code"-->
<!--            [(ngModel)]="user"-->
<!--            (ngModelChange)="onUserChange($event)"-->
<!--            aria-describedby="code-help"-->
<!--            required-->
<!--            #code="ngModel"-->
<!--            [ngClass]="{ 'ng-invalid ng-dirty': code.invalid && (code.dirty || code.touched) }"-->
<!--          />-->
<!--          <small id="code-help" class="text-danger" *ngIf="code.invalid && (code.dirty || code.touched)">-->
<!--            {{alertMessage}}-->
<!--          </small>-->
<!--        </div>-->

<!--        <div class="field w-full">-->
<!--          <label for="password">Contraseña</label>-->
<!--          <p-password-->
<!--            id="password"-->
<!--            name="password"-->
<!--            required-->
<!--            [(ngModel)]="password"-->
<!--            (ngModelChange)="onPasswordChange($event)"-->
<!--            inputStyleClass="w-full"-->
<!--            [style]="{ 'display': 'block' }"-->
<!--            [toggleMask]="true"-->
<!--            feedback="false"-->
<!--            aria-describedby="password-help"-->
<!--            #passwordModel="ngModel"-->
<!--          ></p-password>-->

<!--          &lt;!&ndash; Validación visual &ndash;&gt;-->
<!--          <small-->
<!--            *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)"-->
<!--            class="p-error"-->
<!--            id="password-help"-->
<!--          >-->
<!--            La contraseña es obligatoria.-->
<!--          </small>-->
<!--        </div>-->
<!--      </form>-->
<!--      <div class="text-center">-->
<!--        <button pButton type="button" label="Ingresar" class="w-full" (click)="onLoginClick()"></button>-->
<!--      </div>-->
    </p-card>
  </div>
</div>
