<div class="flex justify-content-center align-items-center min-h-screen surface-ground">
  <p-card class="p-shadow-4 w-full md:w-8 lg:w-6 xl:w-5">
    <div class="flex flex-column gap-4 p-4">
      <h2 class="text-center font-bold text-xl mb-3">Registro de Asistencia a Evento</h2>

      <!-- Input and button -->
      <div class="flex gap-2">
        <input
          type="text"
          pInputText
          placeholder="Ingrese el DNI o escanee el código de barras"
          [(ngModel)]="number"
          (keyup)="onKeyUp($event)"
          class="w-full"
          autofocus
        />
        <button
          pButton
          label="Buscar"
          icon="pi pi-search"
          class="p-button-primary"
          (click)="searchParticipant()"
        ></button>
      </div>

      <!-- Message result -->
      <div class="mt-2">
        @if (response?.status === null) {
          <p-panel header="Asistencia de entrada" styleClass="mt-2">
            <p class="mt-2 font-medium">👤 Busque un DNI o escanee</p>
          </p-panel>

        }
        @if (response?.status === 'success') {
          <p-panel header="{{ response?.payload?.message }}" styleClass="mt-2 text-green-700">
            <div class="text-center items-center">
              <p class="mt-2 font-light"> <i class="pi pi-check-square mr-2" style="font-size: 3rem"></i></p>
              @if(response?.payload?.data?.person_id) {
                <div class="mt-2 font-semibold" style="font-size: 2rem">{{ response?.payload?.data?.person_id?.number }}</div>
                <div class="mt-2 font-bold" style="font-size: 2.5rem">
                  {{ response?.payload?.data?.person_id?.names }}
                  {{ response?.payload?.data?.person_id?.last_name }}
                  {{ response?.payload?.data?.person_id?.maternal_last_name }}
                </div>
              }
            </div>
          </p-panel>
        }
        @else if (response?.status === 'warning') {
          <p-panel header="{{ response?.payload?.message }}" styleClass="mt-2 text-yellow-700">
            <div class="text-center items-center">
              <p class="mt-2 font-light"> <i class="pi pi-bell mr-2" style="font-size: 4rem"></i></p>
              @if(response?.payload?.data?.person_id) {
                <div class="mt-2 font-semibold" style="font-size: 2rem">{{ response?.payload?.data?.person_id?.number }}</div>
                <div class="mt-2 font-bold" style="font-size: 2.5rem">
                  {{ response?.payload?.data?.person_id?.names }}
                  {{ response?.payload?.data?.person_id?.last_name }}
                  {{ response?.payload?.data?.person_id?.maternal_last_name }}
                </div>
              }
              @if (response!.payload.errors) {
                <ul class="list-disc pl-6">
                  @for (error of response!.payload.errors | keyvalue; track error.key) {
                    <li>
                      <strong>{{ error.key }}:</strong>
                      @for (msg of error.value; track msg) {
                        <span>{{ msg }}</span><br />
                      }
                    </li>
                  }
                </ul>
              }
            </div>
          </p-panel>
        }
        @else if (response?.status === 'error') {
          <p-panel header="❌  {{ response?.payload?.title }}" styleClass="mt-2 text-red-700">
            <div class="text-center items-center">
              <p class="mt-2 font-light">{{ response!.payload.message }}</p>
              @if (response!.payload.errors) {
                <ul class="list-disc pl-6">
                  @for (error of response!.payload.errors | keyvalue; track error.key) {
                    <li>
                      <strong>{{ error.key }}:</strong>
                      @for (msg of error.value; track msg) {
                        <span>{{ msg }}</span><br />
                      }
                    </li>
                  }
                </ul>
              }
            </div>
          </p-panel>
        }
        @else if (response?.status === 'info') {
          <p-panel header="❌ {{ response?.payload?.title }}" styleClass="mt-2 text-red-700">
            <div class="text-center items-center">
              <p class="mt-2 font-light">{{ response!.payload.message }}</p>
              @if (response!.payload.errors) {
                <ul class="list-disc pl-6">
                  @for (error of response!.payload.errors | keyvalue; track error.key) {
                    <li>
                      <strong>{{ error.key }}:</strong>
                      @for (msg of error.value; track msg) {
                        <span>{{ msg }}</span><br />
                      }
                    </li>
                  }
                </ul>
              }
            </div>
          </p-panel>
        }
      </div>
    </div>
  </p-card>
</div>
