<div class="flex justify-content-center min-h-screen">
  <div class="p-shadow-4 w-full md:w-9 lg:w-10 xl:w-10 mt-5">
    <p-menubar [model]="items">
      <ng-template pTemplate="item" let-item>
        <a class="p-menuitem-link" [routerLink]="item.routerLink" (click)="onMenuItemClick($event, item)">
          @if (item.icon) {
            <i [class]="getMenuIconClass(item.icon) + ' mr-2'" aria-hidden="true"></i>
          }
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menubar>

    <div class="mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-staff-change-password-dialog [(visible)]="showChangePasswordDialog"></app-staff-change-password-dialog>
