<header class="home-header relative w-full">
  <!-- Fondo -->
  <img
    src="/img/transparency-publications/header_red_unadqtc.svg"
    alt="Header"
    class="home-header__bg absolute top-0 left-0 w-full h-full object-cover z-1"
  />
  <!-- Logo -->
  <img
    src="/img/transparency-publications/logo_red_unadqtc.svg"
    alt="Logo UNADQTC"
    class="
    home-header__logo
    absolute
    z-2
    h-4rem        <!-- BASE -->
    sm:h-5rem
    md:h-6rem
    lg:h-7rem
  "
  />
</header>
<main>
  <p-megaMenu [model]="menuItems" orientation="vertical"></p-megaMenu>
</main>
