<script src="../../academic/student-ranking/student-ranking.component.ts"></script>
<div class="text-center">
  <h2>Reporte mensual de asistencias</h2>
</div>
<form [formGroup]="reportForm">
  <div class="grid w-full">
    <!-- COLUMNA 1 -->
    <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2">
      <label for="id_employment_agreement">Régimen laboral</label>
      <p-select
        id="id_employment_agreement"
        name="id_employment_agreement"
        [options]="employmentAgreementOptions"
        optionLabel="label"
        optionValue="id"
        formControlName="id_employment_agreement"
        placeholder="Seleccione el régimen laboral"
      ></p-select>
    </div>

    <!-- COLUMNA 2 -->
    <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2">
      <label for="id_month">Selecciona el mes</label>
      <p-select
        id="id_month"
        name="id_month"
        [options]="monthOptions"
        optionLabel="label"
        optionValue="id"
        formControlName="id_month"
        placeholder="Seleccione el mes"
      ></p-select>
    </div>

    <!-- COLUMNA 3 -->
    <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2">
      <label for="id_year">Selecciona el año</label>
      <p-select
        id="id_year"
        name="id_year"
        [options]="yearOptions"
        optionLabel="label"
        optionValue="id"
        formControlName="id_year"
        placeholder="Seleccione el año"
      ></p-select>
    </div>

    <!-- COLUMNA 4 -->
    <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2 justify-content-end">
      <button
        pButton
        type="button"
        icon="pi pi-search"
        label="Descargar excel"
        (click)="downloadReportExcel()">
      </button>
    </div>
  </div>
</form>

