<div class="flex flex-column align-items-center mb-4">
  <h2>Registro de asistencias</h2>
</div>

<div class="mb-3">
  <div class="grid w-full pb-2">
    <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-2">
      <label for="id_month">Rango de dias</label>
      <p-datePicker
        [style]="{ width: '100%' }"
        [(ngModel)]="dateRange"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        showIcon
        placeholder="Selecciona una o dos fechas"
        [maxDate]="today">
      </p-datePicker>
    </div>

    <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-2 justify-content-end">
      <button
        pButton
        type="button"
        icon="pi pi-search"
        label="Buscar"
        class="w-full"
        (click)="loadAttendances()">
      </button>
    </div>
  </div>
</div>

<div *ngIf="loading" class="flex justify-content-center py-5">
  <p-progressSpinner></p-progressSpinner>
</div>

<app-staff-attendance-cards
  *ngIf="!loading"
  [attendances]="attendances">
</app-staff-attendance-cards>
