<!-- Encabezado -->
<script src="attendance.component.ts"></script>
<div class="flex flex-column align-items-center mb-4">
  <h3>Registro de asistencias</h3>
</div>

<!-- Rango de fechas -->
<div class="grid w-full pb-3">

  <!-- Input DNI -->
  <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2">
    <label for="id_employment_agreement">DNI</label>
    <input
      type="text"
      pInputText
      placeholder="Número de empleado o DNI"
      [(ngModel)]="number"
      class="w-full"
    />
  </div>

  <!-- Calendario rango -->
  <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2">
    <label for="id_month">Selecciona rango de días</label>

    <p-datePicker
      [style]="{ width: '100%' }"
      [(ngModel)]="dateRange"
      selectionMode="range"
      dateFormat="dd/mm/yy"
      showIcon
      placeholder="Seleccionar rango"
      [maxDate]="today">
    </p-datePicker>
  </div>

  <!-- Botón buscar -->
  <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2 justify-content-end">
    <button
      pButton
      type="button"
      icon="pi pi-search"
      label="Buscar"
      class="w-full"
      (click)="loadAttendances()">
    </button>
  </div>

  <!-- Botón descargar excel -->
  <div class="col-12 md:col-6 lg:col-3 flex flex-column gap-2 justify-content-end">
    <button
      pButton
      type="button"
      icon="pi pi-file-excel"
      label="Descargar Excel"
      class="w-full"
      (click)="downloadAttendancesExcel()">
    </button>
  </div>

</div>

<!-- Tabla de asistencias -->
<p-table
  [value]="attendances"
  [paginator]="true"
  [rows]="8"
  [loading]="loading"
  [responsiveLayout]="'scroll'"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  class="p-datatable-gridlines w-full">

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Fecha</th>
      <th class="text-center">Hora</th>
      <th class="text-center">Marcación</th>
      <th class="text-center">Sede</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td class="text-center">{{ item.punch_time.split(' ')[0] }}</td>
      <td class="text-center">{{ item.punch_time.split(' ')[1] }}</td>

      <td class="text-center" [ngClass]="getVerifyClass(item.verify_type)">
        <i-lucide [img]="getVerifyIcon(item.verify_type)" size="35"></i-lucide>
        <div class="font-italic mt-1" style="font-size: 0.6rem;">
          {{ getVerifyName(item.verify_type) }}
        </div>
      </td>

      <td class="text-center" style="font-size: 0.75rem">
        <i-lucide [img]="MapPinCheck" size="20" class="text-red-500"></i-lucide>
        <br>
        {{ item.campus | uppercase }}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="text-center font-italic text-orange-500">
        Aún no hay Asistencias
      </td>
    </tr>
  </ng-template>
</p-table>
